<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Sous-categorie </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content responsive-sm class="ion-padding">
  <ion-row>
    <ion-col sizeLg="8" sizeMd="8" sizeXs="12">
      <ion-list lines="none">
    

        <ion-row style="display: none;">
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
            <select [(ngModel)]="view" >
              <option value="0"> Brouillon </option>
              <option value="1"> Publié </option>
            </select>
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="12" >
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-item class="roundedInput">
              <ion-label position="stacked">Catégorie</ion-label>
              <ion-input inputmode="text" [(ngModel)]="title" placeholder="Catégorie"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

 

        <ion-row style="display: none;">
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-item class="roundedInput">
              <ion-label position="stacked">Sous titre</ion-label>
              <ion-input inputmode="text" [(ngModel)]="subtitle" placeholder="Sous titre"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row style="display: none;">
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
              <ion-item class="roundedInput">
                <ion-label position="stacked">Ordre</ion-label>
                <ion-input inputmode="text" [(ngModel)]="order" placeholder="1"> </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>


          <ion-row *ngIf="category=='page'">
            <ion-col sizeLg="12" sizeMd="12" sizeXs="12" > 
              <ion-label  position="stacked"> <b>Contenu</b></ion-label>
              <ion-item class="roundedInput">
                <div [ngxSummernote]="config" [(ngModel)]="content"></div>
              </ion-item>
            </ion-col>
           </ion-row>
        

           <ion-row *ngIf="category=='news'">
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-item class="roundedInput">
              <ion-label position="stacked">Description</ion-label>
              <ion-textarea placeholder="Ajoutez une description ..." [autoGrow]="true" [(ngModel)]="content">
              </ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>


   


        <ion-row >
          <ion-col sizeLg="8" sizeMd="8" sizeXs="12">
          
            <ion-item>
              <h5> Ajouter une image ( 300 px X 200 px recommandé)</h5>
            </ion-item>

            <ion-item>
              <ion-button color="secondary" size="medium" (click)="addFormGallery()">Ajouter une image</ion-button>
            </ion-item>
            <img src="{{UrlImage}}home/{{image}}" style="width:200px">
          </ion-col>
          <ion-col sizeLg="4" sizeMd="4" sizeXs="12">
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="category=='page'">
          <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
            <ion-item class="roundedInput">
              <ion-label position="stacked">Image </ion-label>
              <ion-input inputmode="text" [(ngModel)]="image" placeholder=""> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-item>
          <div class="item-note" slot="end">
            <ion-button color="light" size="medium" (click)="doCancel()" >Annuler </ion-button>
            <ion-button color="secondary" size="medium" (click)="doSave()">Enregistrer</ion-button>
          </div>
        </ion-item>
      </ion-list>


  


        <h2> Les sous-catégories</h2>

        <ion-list>
          <ion-item button *ngFor="let item of subcategories" >
            <ion-thumbnail slot="start">
              {{item.id}}
            </ion-thumbnail>
    
         
            <ion-icon name="pricetag" color="secondary"></ion-icon>
      
            <ion-label >
             {{item.tag_fr}}
            </ion-label>
          
  
            <ion-button ion-button outline item-end small color="light" (click)="delete($event, item)"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-col sizeLg="9" sizeMd="9" sizeXs="9">
            <ion-item class="roundedInput">
              <ion-label position="stacked">Sous-categorie</ion-label>
              <ion-input inputmode="text" [(ngModel)]="subcategory" placeholder="Sous-categorie"> </ion-input>
            </ion-item>
          </ion-col>

          <ion-col sizeLg="3" sizeMd="3" sizeXs="3">
            <ion-button ion-button outline expand="full" color="primary" (click)="NewSave()"> Ajouter </ion-button>
          </ion-col>
        </ion-row>

   
        
    </ion-col>
    <ion-col sizeLg="4" sizeMd="4" sizeXs="12" class="padding">
    </ion-col>




  </ion-row>
</ion-content>
