<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title > Home  </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content responsive-sm  class="ion-padding">
  <ion-grid>
    <ion-col sizeLg="9" sizeMd="9" sizeXs="12" >
      <ion-list lines="none"   >
      <ion-item    lines="none" *ngFor="let item of user" >    
          <ion-button  color="medium" slot="end" size="small"shape="round"  > Admin </ion-button>
          <ion-label> 
          <b> {{item.salutation}} {{item.firstname}} {{item.lastname}}</b>  <br>
          </ion-label>
      </ion-item>
      </ion-list>


      <ion-list style="margin-top: 20px;"  >

        <ion-item button>
          <ion-label >
           Les dernières annonces
          </ion-label>
        </ion-item>
        <ion-item button *ngFor="let item of latsposts"  (click)="edit($event, item)" >



          <ion-thumbnail slot="start">
            <img  src="{{item.image}}">
          </ion-thumbnail>
  
          <ion-label (click)="edit($event, item)">
            <ion-text>
              <small> ID {{item.id}}</small>
              <h2><b> {{item.title}}  </b></h2>
            </ion-text>
          </ion-label>
  
  
          <ion-label (click)="edit($event, item)" class="ion-hide-sm-down">
            <ion-badge color="light" slot="end">      <ion-icon name="location-outline"></ion-icon>  {{item.city}} </ion-badge>
              </ion-label>
  
  
  
            <ion-label (click)="edit($event, item)" class="ion-hide-sm-down">
            <ion-badge color="light" slot="end">      <ion-icon name="pricetag-outline"></ion-icon>  {{item.tags.tag_fr}} </ion-badge>
            </ion-label>
  
            <ion-label (click)="edit($event, item)" class="ion-hide-sm-down">
              <ion-badge color="light" slot="end">     <ion-icon name="pricetags-outline"></ion-icon>  {{item.type.tag_fr}} </ion-badge>
              </ion-label>
  
  
  
              <ion-label (click)="edit($event, item)" class="ion-hide-sm-down">
                <ion-badge color="light" slot="end">  {{item.price}} €</ion-badge>
                </ion-label>
          <ion-label >
            <ion-text>
              <h2><b> {{item.title}}  </b></h2>
              <small> {{item.subtitle}}  </small>
            </ion-text>
          </ion-label>
        </ion-item>
        </ion-list>






      </ion-col>


      <ion-list style="margin-top: 20px;"  >



      <ion-row style="padding-top:20px;" >
        <ion-col col-4 col-md-4 style="text-align: center;">
  
        <ion-item   [routerLink]="['/customers']" >
          <ion-button  color="primary" > <ion-icon name="person-outline"></ion-icon> </ion-button>    
          <p> <b> Voir les particuliers </b>  </p> 
        </ion-item>  
   
      </ion-col>
   

      <ion-col col-4 col-md-4 style="text-align: center;">
  
        <ion-item   [routerLink]="['/customers-pro']" >
          <ion-button  color="primary" > <ion-icon name="person-outline"></ion-icon> </ion-button>    
          <p> <b> Voir les professionnels </b>  </p> 
        </ion-item>  
   
      </ion-col>
   


      <ion-col col-4 col-md-4  class="ion-text-center">
   
        <ion-item   [routerLink]="['/locations']" >
          <ion-button  color="primary" > <ion-icon name="list-outline"></ion-icon> </ion-button>    
          <p> <b> Les annonces </b> </p> 
        </ion-item>  
      
      </ion-col>

    </ion-row >



</ion-list>

 
</ion-grid>
   


</ion-content>
